<main class="content">

  <h1>Timer</h1>

  <div class="progress-wrapper" *ngIf="maxVal">

    <div class="text" *ngIf="!isFinished">
      {{ max - current | number: '1.1-1' }}
    </div>

    <div class="text" *ngIf="isFinished">
      <audio src="assets/chime.mp3" autoplay></audio>
    </div>

    <round-progress [max]="max" [current]="current" [radius]="100" [stroke]="25">
    </round-progress>

  </div>

  <div class="controls-wrapper">

    <input class="form-control form-control-sm input" placeholder="number of seconds" type="text" [(ngModel)]="max" (keydown)="reset()">

    <div class="btn-group">
      <button class="btn btn-sm btn-success" *ngIf="currentVal <= 0" (click)="start()">Start</button>
      <button class="btn btn-sm btn-danger" *ngIf="!isFinished" (click)="end()">End</button>
      <button class="btn btn-sm btn-secondary" *ngIf="isFinished" (click)="reset()">Reset</button>
    </div>

    

  </div>


</main>